.test {
  display: flex;
  flex-direction: column;
}

.input {
  margin-bottom: 32px;
}

.container {
  display: flex;
}

.datePicker {
  display: flex;
  flex-direction: column;
}

.top {
  height: 24px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > button {
    color: #000;
  }
}

.title {
  font-size: 18px;

  & > button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
  }
}

.dayPicker {
  width: 280px;
  height: 240px;
  display: flex;
  flex-wrap: wrap;

  & > button {
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid #c9d1d9;
    background: none;
  }
}

.monthPicker {
  width: 280px;
  height: 240px;
  display: flex;
  flex-wrap: wrap;

  & > button {
    margin: 0;
    padding: 0;
    width: 70px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid #c9d1d9;
    font-size: 12px;
    background: none;
  }
}

.yearPicker {
  width: 280px;
  height: 240px;
  display: flex;
  flex-wrap: wrap;

  & > button {
    margin: 0;
    padding: 0;
    width: 70px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid #c9d1d9;
    font-size: 12px;
    background: none;
  }
}

.timePicker {
  margin-top: 40px;
  margin-left: 8px;
  display: flex;

  & > div {
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow: auto;

    & > button {
      margin: 0;
      padding: 0;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      justify-content: center;
      box-sizing: border-box;
      border: 1px solid #c9d1d9;
      font-size: 12px;
      background: none;
    }
  }
}
